@font-face {
  font-family: "AgipoLight";
  src: local("AgipoLight"),
    url(../fonts/AgipoLight-Regular.otf) format("truetype");
}

@font-face {
  font-family: "AgipoLightItalic";
  src: local("AgipoLight-Italic"),
    url(../fonts/AgipoLight-Italic.otf) format("truetype");
}

@font-face {
  font-family: "FjallaOne";
  src: local("FjallaOne"),
    url(../fonts/FjallaOne-Regular.ttf) format("truetype");
}

.bg {
  background-image: url("../img/Desktop.png");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .bg {
    background-image: url("../img/bgwc.png");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
  @media only screen and (min-device-height: 480px) and (max-device-height: 750px)  {
    .footer {
      position: absolute;
      left: 0;
      bottom: -30;
      width: 100%;
      /* background-color: red; */
      color: white;
      text-align: center;
      transform: scale(0.5);
      left: -30px;
    }
    .details-label {
      position: absolute;
      top: 30%;
    }
  }
  @media only screen and (max-device-height: 568px)  {
    .details-label {
      position: absolute;
      top: 22%;
      transform: scale(0.8);
    }
  }
}
